body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

main {
    display: flex;
    flex-direction: row;
}

.section {
    margin-bottom: 20px;
    width: 50%;
    height: 470px;
    border: 1px solid;
    padding: 0 10px;
    overflow-y: auto;
}
.section:has(.mockup-group) {
    border-bottom-left-radius: 12px;
}
.section:has(.color-group) {
    border-bottom-right-radius: 12px;
}

.section h2 {
    margin-bottom: 10px;
}

#file-div{
    position:relative;
}

input[type="file"]#design {
    display: block;
    width: 99.9%;
    height: 50px;
    border: 1px solid;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    cursor: pointer;
}

input::file-selector-button {
    transition: 200ms;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}
input::file-selector-button:hover, #file-div:hover>#choose {
    background-color: deepskyblue;
}
input::file-selector-button:active, #file-div:active>#choose{
    background-color: #008fbf;
}

input.uploaded::file-selector-button, #file-div:has(input.uploaded)>#choose {
    background-color: #c7ffc7;
}
input.uploaded::file-selector-button:hover, #file-div:has(input.uploaded):hover>#choose {
    background-color: #8fff8f;
}
input.uploaded::file-selector-button:active, #file-div:has(input.uploaded):active>#choose {
    background-color: #70ca70;
}

#choose {
    width: fit-content;
    height: 50%;
    text-align: center;
    position: absolute;
    top: 5px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    pointer-events:none;
    background-color:lightblue;
    transition: 200ms;
}

.selection-group {
    display: flex;
    flex-wrap: wrap;
}

.selection-group label {
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.selection-group label:hover {
    background-color: #eff;
}

label:has(input[type="radio"]:checked), label:has(input[type="checkbox"]:checked) {
    background-color: #c7ffc7;
    transition: 200ms;
}

input[type="radio"] {
    cursor: pointer;
}

.mockup-group {
    overflow: auto;
    display: inline-block;
}

.mockup-group label {
    display: inline-block;
    margin: 10px 3px;
    padding: 5px;
    border: 1px solid #ddd;
}

.image-chk {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
}

.color-group label {
    margin: 3px 7px;
}

.color-radio {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
}

.color-radio span {
    margin-left: 5px;
    font-size: 13px;
}

.color-preview {
    width: 20px;
    height: 20px;
}

input[type="color"] {
    border: none;
    background: none;
    margin-left: -2px;
    margin-right: 2px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    width: 20px;
    height: 20px;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid;
}

.button {
    text-align: center;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 125px;
    transition: 150ms;
}

#generate-button {
    background-color: #4CAF50;
}
#generate-button:hover {
    background-color: #31c731;
}
#generate-button:active {
    background-color: #429845;
}

div:has(#generate-button) {
    align-self: center;
    position: relative;
    margin-top: 10px;
}

div:has(#generate-button)>*:not(#generate-button) {
    display: inline-block;
    position: absolute;
    width: max-content;
    left: 13vw;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    padding: 5px 10px 5px 5px;
    border: 1px solid;
    border-radius: 6px;
}

div:has(#generate-button) label {
    margin: 0 5px;
}

input[type="number"] {
    width: 50px;
    margin-right: 10px;
}

#reset {
    font-size: 13px;
    width: 65px;
    background-color: black;
    height: 25px;
    padding: 0;
    margin-left: 10px;
}
#reset:hover {
    background-color: #444;
}
#reset:active {
    background-color: #666;
}

.output {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 18px;
}

a {
    margin: 10px auto;
    display: block;
    width: 30vw;
}

.output-image {
    width: 30vw;
    height: auto;
}

#generating {
    color: white;
    background-color: #00000099;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

#generating>h1 {
    user-select: none;
}

#download {
    display: block;
    margin: 15px auto;
    background-color: cornflowerblue;
    width: 220px;
}
#download:hover {
    background-color: #7ea5ed;
}
#download:active {
    background-color: #5e89d7;
}